
<div id="contant">
  <br>
 <h1> Chosen country: <%= lanttu %></h1>
<br>
<div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="myChart"></canvas>
        <canvas id="myChart2"></canvas>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {

    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
          labels: [1960, , , , , 1965, , , , , 1970, , , , , 1975, , , , , 1980, , , , , 1985, , , , , 1990, , , , , 1995, , , , , 2000, , , , , 2005, , , , , 2010, , , , , 2015, , ,2018,],
        datasets: [{
            label: "Population",
            backgroundColor: 'rgb(255, 127, 0)',
            borderColor: 'rgb(255, 127, 0)',
// kerrotaan mitä kohtaa tietokannasta katsotaan
            data: [<%- JSON.stringify((collection)[0]._1960); %>,
                  <%- JSON.stringify((collection)[0]._1961); %>,
                  <%- JSON.stringify((collection)[0]._1962); %>,
                  <%- JSON.stringify((collection)[0]._1963); %>,
                  <%- JSON.stringify((collection)[0]._1964); %>,
                  <%- JSON.stringify((collection)[0]._1965); %>,
                  <%- JSON.stringify((collection)[0]._1966); %>,
                  <%- JSON.stringify((collection)[0]._1967); %>,
                  <%- JSON.stringify((collection)[0]._1968); %>,
                  <%- JSON.stringify((collection)[0]._1969); %>,
                  <%- JSON.stringify((collection)[0]._1970); %>,
                  <%- JSON.stringify((collection)[0]._1971); %>,
                  <%- JSON.stringify((collection)[0]._1972); %>,
                  <%- JSON.stringify((collection)[0]._1972); %>,
                  <%- JSON.stringify((collection)[0]._1973); %>,
                  <%- JSON.stringify((collection)[0]._1974); %>,
                  <%- JSON.stringify((collection)[0]._1975); %>,
                  <%- JSON.stringify((collection)[0]._1976); %>,
                  <%- JSON.stringify((collection)[0]._1977); %>,
                  <%- JSON.stringify((collection)[0]._1978); %>,
                  <%- JSON.stringify((collection)[0]._1979); %>,
                  <%- JSON.stringify((collection)[0]._1980); %>,
                  <%- JSON.stringify((collection)[0]._1981); %>,
                  <%- JSON.stringify((collection)[0]._1982); %>,
                  <%- JSON.stringify((collection)[0]._1983); %>,
                  <%- JSON.stringify((collection)[0]._1984); %>,
                  <%- JSON.stringify((collection)[0]._1985); %>,
                  <%- JSON.stringify((collection)[0]._1986); %>,
                  <%- JSON.stringify((collection)[0]._1987); %>,
                  <%- JSON.stringify((collection)[0]._1988); %>,
                  <%- JSON.stringify((collection)[0]._1989); %>,
                  <%- JSON.stringify((collection)[0]._1990); %>,
                  <%- JSON.stringify((collection)[0]._1991); %>,
                  <%- JSON.stringify((collection)[0]._1992); %>,
                  <%- JSON.stringify((collection)[0]._1993); %>,
                  <%- JSON.stringify((collection)[0]._1994); %>,
                  <%- JSON.stringify((collection)[0]._1995); %>,
                  <%- JSON.stringify((collection)[0]._1996); %>,
                  <%- JSON.stringify((collection)[0]._1997); %>,
                  <%- JSON.stringify((collection)[0]._1998); %>,
                  <%- JSON.stringify((collection)[0]._1999); %>,
                  <%- JSON.stringify((collection)[0]._2000); %>,
                  <%- JSON.stringify((collection)[0]._2001); %>,
                  <%- JSON.stringify((collection)[0]._2002); %>,
                  <%- JSON.stringify((collection)[0]._2003); %>,
                  <%- JSON.stringify((collection)[0]._2004); %>,
                  <%- JSON.stringify((collection)[0]._2005); %>,
                  <%- JSON.stringify((collection)[0]._2006); %>,
                  <%- JSON.stringify((collection)[0]._2007); %>,
                  <%- JSON.stringify((collection)[0]._2008); %>,
                  <%- JSON.stringify((collection)[0]._2009); %>,
                  <%- JSON.stringify((collection)[0]._2010); %>,
                  <%- JSON.stringify((collection)[0]._2011); %>,
                  <%- JSON.stringify((collection)[0]._2012); %>,
                  <%- JSON.stringify((collection)[0]._2013); %>,
                  <%- JSON.stringify((collection)[0]._2014); %>,
                  <%- JSON.stringify((collection)[0]._2015); %>,
                  <%- JSON.stringify((collection)[0]._2016); %>,
                  <%- JSON.stringify((collection)[0]._2017); %>]
        }]
    },

    // Configuration options go here
    options: {}
});


var ctx = document.getElementById('myChart2').getContext('2d');
var chart = new Chart(ctx, {
// The type of chart we want to create
type: 'bar',

// The data for our dataset
data: {
        labels: [1960, , , , , 1965, , , , , 1970, , , , , 1975, , , , , 1980, , , , , 1985, , , , , 1990, , , , , 1995, , , , , 2000, , , , , 2005, , , , , 2010, , , , , 2015, , ,2018,],
    datasets: [{
        label: "Co2",
        backgroundColor: 'rgb(255, 93, 0)',
        borderColor: 'rgb(255, 93, 0)',
        data: [
        <%- JSON.stringify((collection)[0].test[0]._1960); %>,
        <%- JSON.stringify((collection)[0].test[0]._1961); %>,
        <%- JSON.stringify((collection)[0].test[0]._1962); %>,
        <%- JSON.stringify((collection)[0].test[0]._1963); %>,
        <%- JSON.stringify((collection)[0].test[0]._1964); %>,
        <%- JSON.stringify((collection)[0].test[0]._1965); %>,
        <%- JSON.stringify((collection)[0].test[0]._1966); %>,
        <%- JSON.stringify((collection)[0].test[0]._1967); %>,
        <%- JSON.stringify((collection)[0].test[0]._1968); %>,
        <%- JSON.stringify((collection)[0].test[0]._1969); %>,
        <%- JSON.stringify((collection)[0].test[0]._1970); %>,
        <%- JSON.stringify((collection)[0].test[0]._1971); %>,
        <%- JSON.stringify((collection)[0].test[0]._1972); %>,
        <%- JSON.stringify((collection)[0].test[0]._1973); %>,
        <%- JSON.stringify((collection)[0].test[0]._1974); %>,
        <%- JSON.stringify((collection)[0].test[0]._1975); %>,
        <%- JSON.stringify((collection)[0].test[0]._1976); %>,
        <%- JSON.stringify((collection)[0].test[0]._1977); %>,
        <%- JSON.stringify((collection)[0].test[0]._1978); %>,
        <%- JSON.stringify((collection)[0].test[0]._1979); %>,
        <%- JSON.stringify((collection)[0].test[0]._1980); %>,
        <%- JSON.stringify((collection)[0].test[0]._1981); %>,
        <%- JSON.stringify((collection)[0].test[0]._1982); %>,
        <%- JSON.stringify((collection)[0].test[0]._1983); %>,
        <%- JSON.stringify((collection)[0].test[0]._1984); %>,
        <%- JSON.stringify((collection)[0].test[0]._1985); %>,
        <%- JSON.stringify((collection)[0].test[0]._1986); %>,
        <%- JSON.stringify((collection)[0].test[0]._1987); %>,
        <%- JSON.stringify((collection)[0].test[0]._1988); %>,
        <%- JSON.stringify((collection)[0].test[0]._1989); %>,
        <%- JSON.stringify((collection)[0].test[0]._1990); %>,
        <%- JSON.stringify((collection)[0].test[0]._1991); %>,
        <%- JSON.stringify((collection)[0].test[0]._1992); %>,
        <%- JSON.stringify((collection)[0].test[0]._1993); %>,
        <%- JSON.stringify((collection)[0].test[0]._1994); %>,
        <%- JSON.stringify((collection)[0].test[0]._1995); %>,
        <%- JSON.stringify((collection)[0].test[0]._1996); %>,
        <%- JSON.stringify((collection)[0].test[0]._1997); %>,
        <%- JSON.stringify((collection)[0].test[0]._1998); %>,
        <%- JSON.stringify((collection)[0].test[0]._1999); %>,
        <%- JSON.stringify((collection)[0].test[0]._2000); %>,
        <%- JSON.stringify((collection)[0].test[0]._2001); %>,
        <%- JSON.stringify((collection)[0].test[0]._2002); %>,
        <%- JSON.stringify((collection)[0].test[0]._2003); %>,
        <%- JSON.stringify((collection)[0].test[0]._2004); %>,
        <%- JSON.stringify((collection)[0].test[0]._2005); %>,
        <%- JSON.stringify((collection)[0].test[0]._2006); %>,
        <%- JSON.stringify((collection)[0].test[0]._2007); %>,
        <%- JSON.stringify((collection)[0].test[0]._2008); %>,
        <%- JSON.stringify((collection)[0].test[0]._2009); %>,
        <%- JSON.stringify((collection)[0].test[0]._2010); %>,
        <%- JSON.stringify((collection)[0].test[0]._2011); %>,
        <%- JSON.stringify((collection)[0].test[0]._2012); %>,
        <%- JSON.stringify((collection)[0].test[0]._2013); %>,
        <%- JSON.stringify((collection)[0].test[0]._2014); %>,
        <%- JSON.stringify((collection)[0].test[0]._2015); %>,
        <%- JSON.stringify((collection)[0].test[0]._2016); %>
        ]
    }]
},

// Configuration options go here
options: {}
});

</script>

<br><br>


</div>
